#mainStackPane{
    -fx-background-color: "a3cef1";
    -fx-border-color: "0e6ba8";
}

#currentWeatherPane,
#firstPanel,
#secondPanel,
#thirdPanel,
#fourthPanel,
#currentWeatherPaneInRightPanel,
#firstPanelInRightPanel,
#secondPanelInRightPanel,
#thirdPanelInRightPanel,
#fourthPanelInRightPanel{
   -fx-border-color: "0e6ba8";
   -fx-border-radius: 25px;
}
.label{
     -fx-text-fill: "274c77";
}

#titleApp{
    -fx-font-weight: bold;
}

#firstError,
#secondError{
    -fx-text-fill: red;
}

#buttonDisplayWeather,
#secondButtonDisplayWeather,
#buttonGo{
    -fx-border-color: "0e6ba8";
    -fx-background-color: "0077b6";
    -fx-text-fill: white;
}