#mainStackPane{
    -fx-background-color: "#184e77";
}

#titleCurrentWeatherFirstPane,
#titleWeatherForecastFirstPane{
     -fx-text-fill: white;
}

#titleApp{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}